albumentations==1.1.0
fvcore==0.1.5.post20220512
gradio==3.1.7
joblib==1.1.0
lightning==2022.8.17
matplotlib==3.5.3
numpy==1.23.1
onnxruntime==1.12.1
opencv_python==4.6.0.66
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
pycocotools==2.0.4
pytorch_lightning==1.7.3
scikit_learn==1.1.2
scipy==1.9.1
seaborn==0.11.2
streamlit==1.12.2
submitit==1.4.5
torch==1.12.1
torchmetrics==0.9.3
torchvision==0.13.1
